{#
/**
 * @file
 * Default theme implementation for the calendar button.
 *
 * Available variables:
 * - label: The configured label of the block if visible.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_calendar_button()
 *
 * @ingroup themeable
 */
#}
<div title="{{ button_text }}" {{ attributes }}>
  {{ button_text }}

  {% if parameters %}
    {% for key, value in parameters %}
      <span class="{{ key }}">{{ value }}</span>
    {% endfor %}
  {% endif %}

</div>
